<!-- Footer Section -->
<footer class="footer mt-5 p-3 bg-dark text-white">
    <div class="container">
      <div class="row">
        <!-- Contact Information -->
        <div class="col-md-4 mb-2">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="mailto:your-email@example.com" class="text-white"><i class="fa fa-envelope"></i> Email: your-email@example.com</a></li>
            <li><a href="https://www.instagram.com/meetkothari208" target="_blank" class="text-white"><i class="fa fa-instagram"></i> Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/meetkothari208" target="_blank" class="text-white"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
        <!-- About Section -->
        <div class="col-md-4 mb-2">
          <h5>About Us</h5>
          <p>We are a team dedicated to creating innovative chat solutions. Our mission is to provide seamless communication tools that enhance user interaction and connectivity.</p>
        </div>
        <!-- Website Credits -->
        <div class="col-md-4 mb-2 text-md-right">
          <h5>Website Created By</h5>
          <p>Meet Kothari</p>
          <p>&copy; <%= new Date().getFullYear() %> Chat Application. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Including the JavaScript files -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  </body>
  </html>
  